
body{
    width: 1440px;
    height: 1024px;
    margin: auto;
}

/* ////////////////////////////////// title divs ////////////////////////////////// */

#div_titles_container{
    width: auto;
    min-height: 140px;
    top: 50px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

#div_titre_page{
    width: 688px;
    height: 140px;
    float: left;
    background: #9BAFB6;
    border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-right: 8px;
}

#div_titre_page > h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    font-family: Arial, Helvetica, sans-serif;
}

/* ////////////////////////////////// Button switch to help ////////////////////////////////// */

#div_button_switch_to_help {
    float: left;
    margin-top: 4.9%;
    width: 340px;
    height: 70px;
    border-radius: 5px;
    margin-left: 8px;
    margin-right: 8px;
    background: #2BBDEB;
    bottom: 0px;
    border-collapse: inherit;
}

#button_to_help_page{
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    border: 0;
    font-size: 30px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* ////////////////////////////////// Button for stats page //////////////////////////////////*/

#div_button_switch_to_stats{
    float: left;
    width: 340px;
    height: 70px;
    margin-top: 4.9%;
    margin-left: 8px;
    background: #2BBDEB;
    border-radius: 5px;
}

#button_to_page_statistique{
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    border: 0;
    font-size: 30px;
    font-style: normal;;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* ////////////////////////////////// Rectangle to place conversion elements //////////////////////////////////*/

#div_rectangle_background{
    margin-left: 20px;
    width: 1400px;
    height: 770px;
    background-color: #DDBF99;
    margin-top: 46px;
    margin-right: 20px;
    border-radius: 25px;
}

/* ////////////////////////////////// div for label container //////////////////////////////////*/

#label_measure_container{
    float: left;
    margin-left: 2%;

}

/* ////////////////////////////////// div for label text container //////////////////////////////////*/

#div_for_label_text_measures{
    width: 213px;
    height: auto;
    display: flex;
    text-align: center;
}

#div_for_label_text_measures > label{
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: #FFFFFF;
}

/* ////////////////////////////////// div for measurementes containter  //////////////////////////////////*/

#div_measurements_container{
    width: 160px;
    height: 650px;
    margin-left: 10%;
    margin-top: 1%;
    border-radius: 20px;
    background-color: #ebd9c2;
}

/* ////////////////////////////////// div for universal measure  //////////////////////////////////*/


#div_for_universal_label {
    display: inline-block;
    margin: 17px 20px 17px 20px;
    width: 75%; 
    height: 73.82px;
    background-color: #909090;
    border-radius: 5px;
}

#lbl_for_universal_measure{
    display: block;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: white;
}


/* //////////////////////////////////  div for centimeters //////////////////////////////////*/

#div_for_centimeters_label {
    display: inline-block;
    margin: 17px 20px 17px 20px;
    width: 75%; 
    height: 73.82px;
    background-color: #909090;
    border-radius: 5px;

}

#lbl_for_centimeters_measure{
    display: block;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: white;
}

/* //////////////////////////////////  div for eu measure //////////////////////////////////*/

#div_for_eu_label {
    display: inline-block;
    margin: 17px 20px 17px 20px;
    width: 75%; 
    height: 73.82px;
    background-color: #909090;
    border-radius: 5px;

}

#lbl_for_eu_measurements{
    display: block;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: white;
}

/* //////////////////////////////////  div us measure //////////////////////////////////*/

#div_for_us_label {
    display: inline-block;
    margin: 17px 20px 17px 20px;
    width: 75%; 
    height: 73.82px;
    background-color: #909090;
    border-radius: 5px;

}

#lbl_for_us_measure{
    display: block;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: white;
}

/* //////////////////////////////////  div for uk measure //////////////////////////////////*/

#div_for_uk_label {
    display: inline-block;
    margin: 17px 20px 17px 20px;
    width: 75%; 
    height: 73.82px;
    background-color: #909090;
    border-radius: 5px;

}

#lbl_for_uk_measurements{
    display: block;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: white;
}

/* //////////////////////////////////  div for it measure //////////////////////////////////*/

#div_for_it_label {
    display: inline-block;
    margin: 17px 20px 17px 20px;
    width: 75%; 
    height: 73.82px;
    background-color: #909090;
    border-radius: 5px;

}

#lbl_for_it_measurement{
    display: block;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: white;
}


/* //////////////////////////////////  div textbox container //////////////////////////////////*/

#textbox_container{
    float: left;
    margin-top: 5%;
    height: 670px;
    width: 80px;
    margin-left: 13px;
}

/* //////////////////////////////////  div textbox head measure //////////////////////////////////*/
#div_for_textbox_head{
    width: 80px;
    height: 80px;
    margin-bottom: 35px;
}

#div_for_textbox_head > input{
    width: inherit;
    height: inherit;
    background: #2BBDEB;
    border-radius: 60px;
    border: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
}


/* //////////////////////////////////  div textbox chest measure //////////////////////////////////*/
#div_for_textbox_chest{
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
}

#div_for_textbox_chest > input{
    width: inherit;
    height: inherit;
    background: #2BBDEB;
    border-radius: 60px;
    border: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
}

/* //////////////////////////////////  div textbox waist measure //////////////////////////////////*/
#div_for_textbox_waist{
    width: 80px;
    height: 80px;
    margin-bottom: 220px;
}

#div_for_textbox_waist > input{
    width: inherit;
    height: inherit;
    background: #2BBDEB;
    border-radius: 60px;
    border: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
}

/* //////////////////////////////////  div textbox feet measure //////////////////////////////////*/
#div_for_textbox_feet{
    width: 80px;
    height: 80px;
}

#div_for_textbox_feet > input{
    width: inherit;
    height: inherit;
    background: #2BBDEB;
    border-radius: 60px;
    border: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
}

/* //////////////////////////////////  div arrow container //////////////////////////////////*/

/* WIP arrows */

#arrow_container{
    float: left;
    height: 670px;
    width: 100px;
    margin-top: 5.3%;
    margin-left: 3px;
}

#head_arrow{
    margin-bottom: 45px;
}

#chest_arrow{
    margin-bottom: 15px;
}

#waist_arrow{
    margin-bottom: 240px;
}

/* //////////////////////////////////  images containers //////////////////////////////////*/

#image_container_left_side{
    float: left;
    margin-top: 6%;
}

#image_container_right_side{
    float: left;
    margin-top: 3.5%;
    margin-left: 125px;
}

/* /////////////////////////////////// containers for results //////////////////////////////////*/

#div_results_container{
    float: left;
    width: 214px;
    height: 643px;
    margin-top: 5%;
    margin-left: 65px;
    text-align: center;
}

#div_head_results_container{
    width: inherit;
    height: 137px;
    margin-bottom: 22px;
}

#div_chest_results_container{
    width: inherit;
    height: 137px;
    margin-bottom: 22px;
}

#div_waist_results_container{
    width: inherit;
    height: 137px;
    margin-bottom: 22px;
}

#div_feet_results_container{
    width: inherit;
    height: 137px;
    margin-bottom: 22px;
}

/* /////////////////////////////////// labels for results //////////////////////////////////*/

#lbl_for_title_head_result{
    display: block;
    width: 130px;
    height: 33px;
    text-align: center;
    margin: 0px auto 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
}


#lbl_for_universal_head_result{
    overflow: hidden;
    display: inline-block;
    width: 100px;
    height: 40px;
    margin-left: 0px;
    margin-bottom: 18px;
    background-color: #C7E1B8;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 22px;
}

#lbl_for_uk_head_result{
    overflow: hidden;
    display: inline-block;
    width: 100px;
    height: 40px;
    margin-bottom: 18px;
    margin-left: 5px;
    background-color: #C7E1B8;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 22px;
}

#lbl_for_us_head_result{
    overflow: hidden;
    display: inline-block;
    width: 100px;
    height: 40px;
    margin-left: 0px; 
    background-color: #C7E1B8;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 22px;
}

#lbl_for_eu_head_result{
    overflow: hidden;
    display: inline-block;
    width: 100px;
    height: 40px;
    background-color: #C7E1B8;
    border-radius: 5px;
    text-align: center;
    color: white;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 22px;
}

/* /////////////////////////////////// labels for chest results //////////////////////////////////*/

#lbl_for_title_chest_result{
    display: block;
    width: 170px;
    height: 33px;
    text-align: center;
    margin: 0px auto 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
}

#lbl_for_universal_chest_result{
    overflow: hidden;
    display: inline-block;
    width: 100px;
    height: 40px;
    margin-left: 0px;
    margin-bottom: 18px;
    background-color: #C7E1B8;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 22px;
}

#lbl_for_uk_chest_result{
    overflow: hidden;
    display: inline-block;
    width: 100px;
    height: 40px;
    margin-bottom: 18px;
    margin-left: 5px;
    background-color: #C7E1B8;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 22px;
}

#lbl_for_us_chest_result{
    overflow: hidden;
    display: inline-block;
    width: 100px;
    height: 40px;
    margin-left: 0px; 
    background-color: #C7E1B8;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 22px;
}

#lbl_for_it_chest_result{

}

#lbl_for_eu_chest_result{
    overflow: hidden;
    display: inline-block;
    width: 100px;
    height: 40px;
    background-color: #C7E1B8;
    border-radius: 5px;
    text-align: center;
    color: white;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 22px;
}

/* /////////////////////////////////// labels for waist results //////////////////////////////////*/

#lbl_for_title_waist_result{
    display: block;
    width: 170px;
    height: 33px;
    text-align: center;
    margin: 0px auto 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
}

#lbl_for_universal_waist_result{
    overflow: hidden;
    display: inline-block;
    width: 100px;
    height: 40px;
    margin-left: 0px;
    margin-bottom: 18px;
    background-color: #C7E1B8;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 22px;
}

#lbl_for_uk_waist_result{
    overflow: hidden;
    display: inline-block;
    width: 100px;
    height: 40px;
    margin-bottom: 18px;
    margin-left: 5px;
    background-color: #C7E1B8;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 22px;
}

#lbl_for_us_waist_result{
    overflow: hidden;
    display: inline-block;
    width: 100px;
    height: 40px;
    margin-left: 0px; 
    background-color: #C7E1B8;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 22px;
}

#lbl_for_it_waist_result{

}

#lbl_for_eu_waist_result{
    overflow: hidden;
    display: inline-block;
    width: 100px;
    height: 40px;
    background-color: #C7E1B8;
    border-radius: 5px;
    text-align: center;
    color: white;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 22px;
}
/* /////////////////////////////////// labels for feet results //////////////////////////////////*/

#lbl_for_title_feet_result{
    display: block;
    width: 150px;
    height: 33px;
    text-align: center;
    margin: 0px auto 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
}

#lbl_for_universal_feet_result{
    overflow: hidden;
    display: inline-block;
    width: 100px;
    height: 40px;
    margin-left: 0px;
    margin-bottom: 18px;
    background-color: #C7E1B8;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 22px;
}

#lbl_for_uk_feet_result{
    overflow: hidden;
    display: inline-block;
    width: 100px;
    height: 40px;
    margin-bottom: 18px;
    margin-left: 5px;
    background-color: #C7E1B8;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 22px;
}

#lbl_for_us_feet_result{
    overflow: hidden;
    display: inline-block;
    width: 100px;
    height: 40px;
    margin-left: 0px; 
    background-color: #C7E1B8;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 22px;
}

#lbl_for_it_feet_result{

}

#lbl_for_eu_feet_result{
    overflow: hidden;
    display: inline-block;
    width: 100px;
    height: 40px;
    background-color: #C7E1B8;
    border-radius: 5px;
    text-align: center;
    color: white;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 22px;
}